<h1>Customers</h1>

<% @customers.each do |customer| %>
	<p><%= link_to "#{customer.first_name} #{customer.last_name}", customer_path(customer) %>
	ORDERS: <% if customer.orders.any? %>
						<% customer.orders.each do |order| %>
							ID: <%= link_to order.id, order_path(order) %> - Price: <%= number_with_precision order.price, :precision => 2 %> |
						<% end %>
						<% else %>
						None
					<% end%></p>
<% end %>


