<h1>Orders</h1>
<% @orders.each do |order| %>
	<p>Order ID: <%= link_to order.id, order_path(order) %> - Price <%= order.price %></p>
	<p>Customer: <%= link_to "#{order.customer.first_name} #{order.customer.last_name}", customer_path(order.customer) %></p>
<% end %>
