<h1>Orders # <%= @order.id %></h1>
Price: <%= number_with_precision @order.price, :precision => 2 %>
<p>Customer: <%= link_to "#{@order.customer.first_name} #{@order.customer.last_name}", customer_path(@order.customer) %></p>

